.shop {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

.shop h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}